---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout
  title="カルシウム｜プログラミング学習"
  description="カルシウムを利用してプログラミングを学ぶための学習サイトです。"
>
  <main>
    <h2>教材の更新情報</h2>
    <p>
      {new Intl.DateTimeFormat('ja-JP').format(Date.now())} 現在、更新順・内容は任意です。
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="/variable"
        title="変数"
        body="カルシウムでも変数を使うことができます。"
        date="2024-02-12"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
