---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <script>
    window.addEventListener('hashchange', () => {
      document
        .querySelectorAll('.hash')
        .forEach((el) => el.classList.remove('hash'))
      const hash = window.location.hash.replace('#', '')
      if (!hash) return
      const blockquote = document.querySelector(`a[name="${hash}"]`)
        ?.parentElement?.nextElementSibling?.nextElementSibling
      if (!blockquote) return
      blockquote.classList.add('hash')
    })
  </script>
</html>
<style is:global>
  html {
    background-color: black;
    color: white;
  }
  code {
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'Cascadia Mono',
      Consolas, 'Courier New', monospace;
  }
  iframe {
    width: 100%;
  }
  a:link {
    color: #00caf2;
  }
  a:visited {
    color: orange;
  }
  blockquote {
    margin: 1rem 0;
    padding: 1rem;
    background: #333;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #00caf2;
  }
  .hash {
    border-left-color: orange;
  }
</style>
